<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>List City</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="ajax.js"></script>
</head>
<body>
<form id="add-city">
  <table>
    <tr>
      <td>Name:</td>
      <td><input type="text" id="name" placeholder="name"></td>
    </tr>
    <tr>
      <td>area:</td>
      <td><input type="text" id="area" placeholder="area"></td>
    </tr>
    <tr>
      <td>population:</td>
      <td><input type="text" id="population" placeholder="population"></td>
    </tr>
    <tr>
      <td>description:</td>
      <td><input type="text" id="description" placeholder="description"></td>
    </tr>
    <tr>
      <td>Country:</td>
      <td>
        <select id="country">
        </select>
      </td>
    </tr>
    <input type="hidden" id="idItem">
    <tr>
      <td></td>
      <td><input type="button" value="Add" onclick="addNewCity()"></td>
      <td><input type="button" value="update" id="edit_button" onclick="postEdit()"></td>
    </tr>
  </table>
</form>
<h1>City List</h1>
<input  id="search" placeholder="input search" oninput= "searchByName()" >
<div id="cityList">
</div>
</body>
</html>