<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>View Country</title>
</head>
<body>
<h1>View Country: <span th:text="${country.name}"></span></h1>
<a href="/countries">Country list</a>
<table border="1">
  <tr>
    <th>City name</th>
    <th>area</th>
    <th>population</th>
  </tr>
  <th:block th:each="city : ${cities}">
    <tr>
      <td th:text="${city.name}"></td>
      <td th:text="${city.area}"></td>
      <td th:text="${city.population}"></td>
      <td th:text="${city.description}"></td>
    </tr>
  </th:block>
</table>
</body>
</html>
