<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Country</title>
</head>
<body>
<form id="add-country">
  <table>
    <tr>
      <td>Name:</td>
      <td><input type="text" id="name" placeholder="name"></td>
    </tr>
    <tr>
        <div id="form-group">
        </div>
    </tr>
    <input type="hidden" id="idItem">
    <tr>
      <td></td>
      <td><input type="button" value="Add" onclick="addNewCountry()"></td>
    </tr>
  </table>
</form>
<h1>Country List</h1>
<div id="countryList">
</div>
</body>
</html>